# Created by .ignore support plugin (hsz.mobi)
### Project
NOTES.md

### JetBrains template

## Directory-based project format:
.idea/

# mpeltonen/sbt-idea plugin
.idea_modules/


### OSX template
.DS_Store
.AppleDouble
.LSOverride


